                  body{
                font-family: "montserrat", "prata"; 
                margin: 0;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(171, 228, 105);
            }
            
            .container{
                text-align: center;
                background-color: white;
                font-size: 5px;
                padding: 10px;
                padding-bottom: 20px;
                border-radius: 10px;
                box-shadow:0 0 15px rgba(0, 0, 0, 0.5);
            }

            p{
                font-size: xx-large;
                font-weight: bold;  
                color:brown;
            }

            h1{
                color: rgb(76, 10, 138);   
                font-weight: bolder;
                font-size: x-large;
            }
    
            button{
                background-color:aquamarine;
                color: black;     
                padding: 15px;
                font-size: large;
                border-radius: 10px;
                cursor: pointer;
            }
